<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in your TodoList</p>
<ul class="heroes">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.firstName}}
  </li>
</ul>

<div *ngIf="selectedUser">

  <h2>{{selectedUser.lastName | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedUser.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedUser.firstName" placeholder="name"/>
    </label>
  </div>

</div>
<p><a [routerLink]="['/login']">Logout</a></p>
